<div ng-controller="PlayerController">
  <button class="logout" ng-click="signout()">Logout</button>
  <p>...drop it from the sky</p>
  <div class="album">
    <!--  Album and Song View -->
    <div>
      <div class="album-view">
        <div class="album-art">
          <img ng-src="{{'/dropbox' + songs[8].path_lower}}"/>
        </div>
        <div>
          {{songs[0].album}}
        </div>
        <div class="artist">
          {{'By: ' + songs[0].artist}}
        </div>
      </div>
      <div class="songs-view">
        <button
          ng-repeat="song in songs | songFilter"
          ng-click="selectSong(song.id)"
          class="btn">
          &#9654;&nbsp;&nbsp;{{song.trackNumber + ' ' + song.cleanName}}
        </button>
      </div>
      <div class="player-holder" ng-show="songSelected">
        <audio controls id="audio-player">
          <source type="audio/mpeg"></source>
        </audio>
      </div>
    </div>
    <!--  End Album and Song View -->
  </div>
</div>
