html {
  background-color: #0575E6;
  background: radial-gradient(circle, #0575E6, #001d8b);
}

body {
  font-family: 'Overpass', sans-serif;

  color: snow;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  text-shadow: 6px 6px 3px rgba(0,0,0,0.3);
  margin: 0;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

.container {
  width: 700px;
  margin: 20px auto;
}

.album {
  display: table;
}

.album-view, .songs-view {
  float: left;
}

.songs-view {
  width: 150px;
  margin: 22px;
}

#audio-player {
  margin-top: 20px;
}

.logout, .btn {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  box-shadow: inset 0px 1px 0px 0px #FFF;
  background: linear-gradient(to bottom, #FFF 5%, #f6f6f6 100%);
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666;
  text-shadow: 0px 1px 0px #FFF;
}

.logout {
  position: relative;
  top: -65px;
  float: right;
  width: 75px;
}

.btn {
  width: 150px;
  margin: 10px 0;
}

.logout:hover, .btn:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #FFF 100%);
	background-color: #f6f6f6;
}

.album {
  font-size: 20px;
}

.artist {
  font-size: 12px;
}
